/*===============================
=      THREE COLUMNS BLOCK      =
=================================*/

.threeColumnsBlock {
  padding-top: 140px;
  padding-bottom: 140px;
  display: grid;
  align-items: flex-start;
  grid-template-columns: auto auto auto;
  gap: 80px;
}

@media (max-width: $large-screen-size) {
  .threeColumnsBlock {
    padding-top: 70px;
    padding-bottom: 70px;
    gap: 30px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    .textblock-with-divider {
      grid-column: span 2;
    }
  }
}

@media (max-width: $mobile-screen-size) {
  .threeColumnsBlock {
    padding-top: 15px;
    padding-bottom: 50px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    .textblock-with-divider {
      grid-column: span 1;
    }
  }
}