/*===============================
=      THREE COLUMNS BLOCK      =
=================================*/

.threeColumnsBlock {
  padding-top: 140px;
  padding-bottom: 140px;
  display: grid;
  align-items: flex-start;
  grid-template-columns: auto auto auto;
  gap: 80px;
}