/*================================
=        VIC WORK INNER PAGE     =
=================================*/
// This style set for the PROJECT / EVENT inner page style

.vic-work {
  &__wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 25% 75%;
  }
  &__left-container {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $vic-grey-block;
    position: relative;
  }
  &__right-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.other-works-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 30px;
  .textblock-with-divider {
    grid-column: span 3;
  }
  &.mobile {
    display: none;
  }
  // Styling the event cards for Other events section
  .projectContainer {
    &__event {
      grid-template-columns: 1fr;
      &__event-link {
        display: block;
      }
      &__info-container {
        grid-template-columns: 1fr;
        gap: 15px 0;
        &-event-title {
          grid-column: span 1;
        }
        &-description {
          grid-template-columns: 1fr;
          gap: 5px 0;
          &__intro {
            p:nth-child(n + 2), .btn{
              display: none;
            }
          }
          &__details {
            padding-left: 0;
            border: none;
            gap: 15px 0;
            .detail-container {
              p:nth-child(1) {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: $tablet-screen-size) {
  .other-works-container{
    grid-template-columns: repeat(2, 1fr);
    .textblock-with-divider {
      grid-column: span 2;
    }
    .projectContainer__portfolio {
      &:nth-child(3) {
        display: none;
      }
    }
    &.desktop {
      grid-template-columns: repeat(2, 1fr);
      .textblock-with-divider {
        grid-column: span 2;
      }
      .projectContainer__portfolio {
        &:nth-child(3) {
          display: none;
        }
      }
    }
  }
}

@media (max-width: $small-tablet-screen-size) {
  .vic-work {
    &__wrapper {
      display: grid;
      grid-template-columns: 1fr;
    }
    &__left-container {
      grid-row-start: 2;
      padding-top: 25px;
      padding-bottom: 25px;
    }
    &__right-container {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }

  .other-works-container {
    .textblock-with-divider {
      grid-column: span 1;
    }
    .projectContainer__portfolio {
      &:nth-child(3) {
        display: initial;
      }
    }
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    &.desktop {
      display: none;
    }
    &.mobile {
      .textblock-with-divider {
        grid-column: span 1;
      }
      display: grid;
      grid-template-columns: 1fr;
      gap: 25px;
    }
  }
}