/*===========================
=            ABOUT          =
=============================*/

.school-video-container {
  iframe {
    width: 100%;
    height: 45vw;
  }
}

@media (max-width: $mobile-screen-size) {
  .school-video-container {
    iframe {
      height: 52vw;
    }
  }
}