/*===============================
=         BASE STYLESHEET       =
=================================*/
/**
 * This base stylesheet use for setup some fundamental style
 * or sharing component between pages
 */

//  ========== //
//  FONT STYLE
//  ========== //

// Removed margin on some default element
* {
  font-family: "Inter", sans-serif;
}

html {
  font-size: 15px;
}

p, address {
  margin: 0;
}


h1, .h1 {
  font-size: clamp(32px, 6vw, 64px);
  font-weight: bold;
}

h2, .h2 {
  font-size: clamp(28px, 5vw, 52px);
  font-weight: 900;
}

h3, .h3 {
  font-size: clamp(24px, 4vw, 40px);
  letter-spacing: 1.2;
  text-transform: uppercase;
  font-weight: bold;
}

h4, .h4 {
  font-size: 24px;
  font-weight: bold;
}

h5, .h5 {
  font-size: clamp(16px, 2vw, 18px);
  letter-spacing: 1.5;
  text-transform: uppercase;
  font-weight: 500;
}

h6, .h6 {
  font-size: clamp(16px, 1.5vw, 18px);
  font-weight: bold;
}

.subtitle {
  font-size: clamp(36px, 6vw, 40px);
  font-weight: 500;
}

p {
  font-size: 16px;
  font-weight: normal;
}

a {
  color: $vic-smoke;
  text-decoration: none;
}

.p2 {
  font-size: 14px;
  font-weight: 400;
  &.bold {
    font-weight: 600 !important;
  }
}

.tags {
  font-size: 12px;
  font-weight: 400;
}

//  ========== //
//  LOGO 
//  ========== //

.vic-logo-container {
  display: flex;
  position: relative;
  width: clamp(155px, 15vw, 195px);
  height: 45px;
  .vic-logo {
    width: auto;
    height: 100%;
  }
}

.main {
  margin-top: 80px;
}

//  ==================== //
//  SIDE SHARE CONTAINER
//  ==================== //

.side-share-container {
  display: grid;
  z-index: 9;
  position: fixed;
  right: 0;
  top: 45%;
  background: #fff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 47px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  padding: 15px;
  gap: 15px;
  * {
    width: auto;
  }
}

//  ============ //
//  TEXT DIVIDER
//  ============ //

.text-divider {
  height: 2px;
  background: $vic-teal;
  &.prime {
    width: 70px;
  }
  &.secondary {
    width: 35px;
  }
}

//  ======================= //
//  TEXT BLOCK WITH DIVIDER
//  ======================= //
.textblock-with-divider {
  * { margin: 0; }
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

//  ====== //
//  BUTTON
//  ====== //
.btn {
  &.btn-vic {
    border: 2px solid $vic-smoke;
    padding: 15px 30px;
    border-radius: 0px;
    display: flex;
    gap: 25px;
    align-items: center;
    // FOR PREV BUTTON
    &.prev-btn {
      .btn-text {
        transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) all .2s;
      }
      &:hover {
        .btn-text {
          transform: translateX(-5px);
        }
      }
    }
    // FOR NEXT BUTTON
    &.next-btn {
      .btn-text {
        transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) all .2s;
      }
      &:hover {
        .btn-text {
          transform: translateX(5px);
        }
      }
    }
  }
}

//  ====== //
//  ARROW
//  ====== //
.the-arrow {
  position: relative;
  display: inline-block;
  background: $vic-smoke;
  opacity: 1;
  height: 2px;
  width: 20px;
  transition: ease all .2s;
  &.rotate {
    transform: rotate(180deg);
  }
}

.btn-vic .the-arrow:after, .btn-vic .the-arrow:before {
  top: 0;
  -webkit-transform: rotate(0);
  transform: rotate(0);
}

.the-arrow:before {
  top: -3px;
  right: 0px;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}

.the-arrow:after {
  top: 3px;
  right: 0;
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg);
}

.the-arrow:after, .the-arrow:before {
  opacity: 1;
  content: "";
  position: absolute;
  background: $vic-smoke;
  height: 2px;
  width: 8px;
  right: -1px;
  margin-right: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: ease all .2s;
}

.btn-vic:hover .the-arrow {
  height: 2px;
  opacity: 1;
  width: 20px;
  top: 0px !important;
}

.btn-vic:hover .the-arrow:before {
  height: 2px;
  top: -2.5px;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}

.btn-vic:hover .the-arrow:after {
  height: 2px;
  top: 2.5px;
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg);
}

//  ========== //
//  RESPONSIVE
//  ========== //

@media (max-width: $tablet-screen-size) {
  .side-share-container {
    display: none;
  }
}