/*===============================
=         BASE STYLESHEET       =
=================================*/
/**
 * This base stylesheet use for setup some fundamental style
 * or sharing component between pages
 */

//  ========== //
//  FONT STYLE
//  ========== //

// Removed margin on some default element
* {
  font-family: "Inter", sans-serif;
}

html {
  font-size: 15px;
}

p, address {
  margin: 0;
}


h1, .h1 {
  font-size: clamp(32px, 6vw, 64px);
  font-weight: bold;
}

h2, .h2 {
  font-size: clamp(28px, 5vw, 52px);
  font-weight: 900;
}

h3, .h3 {
  font-size: clamp(24px, 4vw, 40px);
  letter-spacing: 1.2;
  text-transform: uppercase;
  font-weight: bold;
}

h4, .h4 {
  font-size: 24px;
  font-weight: bold;
}

h5, .h5 {
  font-size: clamp(16px, 2vw, 18px);
  letter-spacing: 1.5;
  text-transform: uppercase;
  font-weight: 500;
}

h6, .h6 {
  font-size: clamp(16px, 1.5vw, 18px);
  font-weight: bold;
}

.subtitle {
  font-size: clamp(36px, 6vw, 40px);
  font-weight: 500;
}

p {
  font-size: 16px;
  font-weight: normal;
}

a {
  color: $vic-smoke;
  text-decoration: none;
}

.p2 {
  font-size: 14px;
  font-weight: 400;
  &.bold {
    font-weight: 600 !important;
  }
}

.tags {
  font-size: 12px;
  font-weight: 400;
}

//  ========== //
//  LOGO 
//  ========== //

.vic-logo-container {
  display: flex;
  position: relative;
  width: clamp(155px, 15vw, 195px);
  height: 45px;
  .vic-logo {
    width: auto;
    height: 100%;
  }
}

.main {
  margin-top: 80px;
}

//  ==================== //
//  SIDE SHARE CONTAINER
//  ==================== //

.side-share-container {
  display: grid;
  z-index: 9;
  position: fixed;
  right: 0;
  top: 45%;
  background: #fff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 47px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  padding: 15px;
  gap: 15px;
  * {
    width: auto;
  }
}

//  ============ //
//  TEXT DIVIDER
//  ============ //

.text-divider {
  height: 2px;
  background: $vic-teal;
  &.prime {
    width: 70px;
  }
  &.secondary {
    width: 35px;
  }
}

//  ======================= //
//  TEXT BLOCK WITH DIVIDER
//  ======================= //
.textblock-with-divider {
  * { margin: 0; }
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}



//  ========== //
//  RESPONSIVE
//  ========== //

@media (max-width: $mobile-screen-size) {
  .side-share-container {
    display: none;
  }
}