/*===============================
=         BASE STYLESHEET       =
=================================*/
/**
 * This base stylesheet use for setup some fundamental style
 */

//  FONT STYLE
* {
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: clamp(57px, 6vw, 64px);
  font-weight: bold;
}

h2 {
  font-size: clamp(47px, 5vw, 52px);
  font-weight: 900;
}

h3 {
  font-size: clamp(36px, 4vw, 40px);
  font-weight: bold;
}

h4 {
  font-size: clamp(22px, 3vw, 24px);
  font-weight: bold;
}

h5 {
  font-size: clamp(16px, 2vw, 18px);
  font-weight: 500;
}

h6 {
  font-size: clamp(14px, 1.5vw, 16px);
  font-weight: bold;
}

p {
  font-size: clamp(14px, 1vw, 16px);
  font-weight: normal;
}

.p2 {
  font-size: clamp(12px, 1vw, 14px);
  font-weight: normal;
  &.bold {
    font-weight: bold !important;
  }
}

.main {
  margin-top: 80px;
}
