/*===============================
=            Homepage           =
=================================*/

.hero-section {
  position: relative;
  min-height: calc(max(768px, min(100vh, 100vh)) - 160px);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 35%;
    background: linear-gradient(90deg, white 0%, white 45%, #ffffffe6 70%, #ffffff00 100%);
    &.otherSide, &.customError {
      right: 0;
      left: auto;
      background: linear-gradient(270deg, white 0%, white 45%, #ffffffe6 70%, #ffffff00 100%);
    }
  }
  &__title-box-container {
    z-index: 2;
  }
  &__title-box {
    padding: max(30px, min(calc(2vw + 2vh), 60px));
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    background: $vic-smoke;
    color: #fff;
    width: max(500px, min(calc(22vw + 25vh), 665px));
    h1 {
      font-size: max(45px, min(calc(2vw + 2vh), 60px)) !important;
    }
    .subtitle {
      font-size: max(26px, min(calc(1vw + 1vh), 32px)) !important;
    }
    & * {
      margin: 0;
    }
    &.otherSide {
      float: right;
      width: auto;
      margin-right: 15%;
    }
    &.customError {
      float: left;
      width: fit-content;
      h1 {
        font-size: max(64px, min(10vw, 128px)) !important;
      }
    }
  }
  // Styling for 404 and 500
  &.customError {
    min-height: calc(65vh - 80px);
    +.twoColumnsBlock {
      grid-template-columns: auto auto;
      gap: 45px;
    }
    @media (max-width: $small-tablet-screen-size) {
      min-height: 480px;
    }
    @media (max-width: $mobile-screen-size) {
      background-position: top;
      background-size: 110% 70%;
      padding-bottom: 0 !important;
      min-height: max(360px, min(25vh, 50vh));
      +.twoColumnsBlock {
        grid-template-columns: 1fr;
      }
    }
  }
}

@media (max-width: $small-tablet-screen-size) {
  .hero-section {
    min-height: 480px;
  }
}

@media (max-width: $mobile-screen-size) {
  .hero-section {
    background-position: top;
    background-size: 110% 70%;
    padding-bottom: 0 !important;
    min-height: max(360px, min(25vh, 50vh));
    &__overlay {
      display: none;
    }
    &__title-box {
      width: 100%;
      h1 {
        font-size: max(32px, min(calc(2vw + 2vh), 45px)) !important;
      }
      .subtitle {
        font-size: max(16px, min(calc(1vw + 1vh), 26px)) !important;
      }
      &.otherSide {
        float: left;
        width: fit-content;
        margin-right: 0;
      }
      &.home-hero {
        margin-bottom: -100px;
      }
    }
    &.otherSide, &.customError {
      background-size: cover;
      align-items: flex-end;
      .hero-section__overlay {
        display: initial;
        left: 0;
        top: 275px;
        height: 100px;
        width: 100%;
        background: linear-gradient(0deg, white 0%, white 45%, #ffffffe6 70%, #ffffff00 100%);
      }
    }
  }
}

/*=====  End of Homepage ======*/