/*===================================
=        SHARE CONTAINER STYLE      =
=====================================*/
.project-share-wrapper {
  position: relative;
  .project-share-container {
    position: sticky;
    top: 110px;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .copied-text {
      color: $vic-smoke;
      width: 42px;
      margin-left: -12px;
    }
  }
}

.react-share {
  &__ShareButton {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    // Project and Event inner page share
    &[aria-label="facebook"], &[aria-label="linkedin"], &[aria-label="twitter"], &[aria-label="copy"]{
      .share-logo {
        circle {
          color: $vic-smoke;
        }
        path {
          color: #fff;
        }
        &:hover {
          circle {
            color: $vic-yellow;
          }
          path {
            color: $vic-smoke;
          }
        }
      }
    }
    // Sticky share container
    &[aria-label="facebook"], &[aria-label="instagram"] {
      .social-icon {
        path {
          color: $vic-smoke;
        }
        &:hover {
          path {
            color: $vic-teal;
          }
        }
      }
    }
  }
}

@media (max-width: $small-tablet-screen-size) {
  .project-share-wrapper {
    .project-share-container {
      flex-direction: row;
      gap: 0 15px;
      .copied-text {
        margin-left: 0;
      }
    }
  }
  .react-share {
    &__ShareButton {
      flex-direction: row;
    }
  }
}