/*===================================
=        STUDENT DETAILS STYLE      =
=====================================*/

.work-details-container {
  position: sticky;
  top: 110px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  @media (max-height: 768px) {
    gap: 15px;
  }
}