/*===============================
=            NavBar             =
=================================*/

.navbar {
  height: 80px;
  position: fixed;
  display: flex;
  align-content: center;
  top: 0;
  background-color: #fff;
  z-index: 99;
  &__link-container {
    height: auto;
    align-items: center;
    a {
      margin-right: 1rem;
    }
    &__shares {
      display: none;
    }
  }

  .hamburger-container {
    display: none;
  }
}

@media (min-width: $mobile-screen-size) {
  .navbar {
    &__link-container {
      display: flex !important;
    }
  }
}

@media (max-width: $mobile-screen-size) {
  .navbar {
    &__link-container {
      display: none;
      position: absolute;
      background: #fff;
      top: 80px;
      left: 0;
      width: 100%;
      padding: 15px 0;
      justify-items: center;
      box-shadow: 0 1rem 1rem #03030315 !important;
      a {
        display: block;
        text-align: center;
        height: 45px;
        line-height: 45px;
        margin: 0;
        &#fb-icon {
          justify-self: flex-end;
        }
        &#insta-icon {
          justify-self: flex-start;
        }
      }
      &__shares {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        gap: 30px;
      }
    }
  }
  .hamburger-container {
    display: block !important;
  }
}