/*===============================
=            NavBar             =
=================================*/

.navbar {
  height: 80px;
  position: fixed;
  display: flex;
  align-content: center;
  top: 0;
  background-color: #fff;
  z-index: 99;
  &__link-container {
    display: flex;
    align-items: center;
    a {
      margin-right: 1rem;
    }
  }

  .hamburger-container {
    display: none;
  }
}

@media (max-width: $mobile-screen-size) {
  .navbar {
    &__link-container {
      display: none;
    }
  }
  .hamburger-container {
    display: block !important;
  }
}