/*=======================================
=        PROJECT & EVENT CONTAINER      =
=========================================*/

.projectContainer {
  background: $vic-gray;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  display: grid;
  width: 100%;
  grid-template-columns: 25% 70%;
  gap: 5%;
  &__details-wrapper {
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr;
    align-content: flex-start;
  }
  &__categories {
    &-desktop {
      display: grid;
      gap: 25px;
      grid-template-columns: 1fr;
    }
    &-mobile {
      display: none;
    }
  }
  // Project portfolios wrapper
  &__portfolios-wrapper {
    display: grid;
    // grid-template-rows: 1fr 1fr auto;
    grid-template-rows: 1fr 1fr auto;
    grid-template-columns: calc((100% / 3) - 1.5rem) calc((100% / 3) - 1.5rem) calc((100% / 3) - 1.5rem);
    gap: 2rem;
  }
  // Events wrapper
  &__events-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  &__next-prev-container {
    grid-column: span 3;
    display: flex;
    justify-content: space-between;
  }
  // Project card style
  &__portfolio {
    background: #fff;
    position: relative;
    transition: all ease 0.2s;
    display: grid;
    grid-template-rows: 0.6fr auto;
    .image-container {
      position: relative;
      img {
        width: 100%;
        object-fit: cover;
      }
      .img-overlay {
        transition: all ease 0.2s;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        background: #33333360;
        &__textbox {
          padding: max(10px, min(1vw, 15px)) max(20px, min(2vw, 30px));
          width: fit-content;
          border: 2px solid $vic-offwhite;
          color: $vic-offwhite;
        }
      }
    }
    .details-container {
      position: relative;
      padding: 20px;
      background: #fff;
      display: grid;
      grid-template-rows: auto auto;
      gap: 30px;
      align-content: space-between;
      &__award-ribbon {
        position: absolute;
        right: 20px;
      }
      &__title-name {
        * {margin: 0;}
        h6 {
          margin-bottom: 15px;
        }
        p {
          margin-top: 10px;
        }
        .p2 {
          margin-top: 5px;
        }
      }
      &__multiple {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        // gap: 10px 15px;
        .category-block {
          display: flex;
          justify-content: center;
          border: 1px solid $vic-grey;
          padding: 5px 10px;
          margin: 5px 10px 5px 0;
          color: $vic-grey;
        }
      }
    }
    // Project card hover effect
    &:hover {
      color: initial;
      box-shadow: 0 0.5rem 1rem rgb(3 3 3 / 15%) !important;
      .img-overlay {
        opacity: 1;
      }
    }
  }
  // Event card style
  &__event {
    background: #fff;
    position: relative;
    transition: all ease 0.2s;
    display: grid;
    grid-template-columns: 30% 70%;
    &__img-container {
      position: relative;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    &__event-timestamp {
      display: inline-block;
      position: absolute;
      top: 20px;
      left: 20px;
      background-color: #fff;
      padding: 5px 10px;
    }
    &__info-container {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      padding: 20px;
      gap: 20px 0;
      &-event-title {
        grid-column: span 2;
      }
      &-description {
        display: grid;
        grid-template-columns: 1fr 0.5fr;
        gap: 20px;
        &__intro {
          display: grid;
          grid-template-columns: 1fr;
          gap: 15px;
        }
        &__details {
          display: grid;
          grid-template-columns: 1fr;
          gap: 25px 0;
          padding-left: 20px;
          border-left: 1px solid $vic-soft-grey;
          .detail-container {
            display: grid;
            gap: 10px;
          }
          .price-type {
            color: $vic-teal;
            margin-top: auto;
          }
        }
      }
    }
    // Event card hover effect
    &:hover {
      color: initial;
      box-shadow: 0 0.5rem 1rem rgb(3 3 3 / 15%) !important;
      .btn {
        border-color: $vic-teal;
      }
    }
  }

  /**
   * Categories list - DESKTOP
   */
  .categories-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    * {
      margin: 0;
    }
    .categories-container {
      // DESKTOP STYLE
      &__desktop {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
      }
      &__category {
        cursor: pointer;
        transition: all ease 0.1s;
        padding: 5px 15px;
        margin: 0 15px 15px 0;
        background: #fff;
        &.disable {
          opacity: 0.5;
          pointer-events: none;
        }
        &:hover, &.active {
          background: $vic-teal;
          color: #fff;
        }
      }
    }
  }
}

@media (max-width: 1366px) {
  .projectContainer {
    // Event card
    &__event {
      grid-template-columns: 50% 50%;
      &__info-container {
        grid-template-columns: auto;
        &-event-title {
          grid-column: span 1;
        }
        &-description {
          grid-template-columns: 1fr;
          &__intro {
            .btn {
              display: none;
            }
          }
          &__details {
            border-top: 1px solid $vic-soft-grey;
            border-left: none;
            padding-top: 20px;
            padding-left: 0;
            .detail-container {
              p:nth-child(1) {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: $tablet-screen-size) {
  .projectContainer {
    // Projects portfolio wrapper
    &__portfolios-wrapper {
      grid-template-columns: calc((100% / 2) - 1rem) calc((100% / 2) - 1rem);
      gap: 2rem;
    }
    &__next-prev-container {
      grid-column: span 2;
    }
    // Event card style
    &__events-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }
    &__event {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      &__event-link {
        display: block;
      }
      &__info-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 15px 0;
        align-content: flex-start;
        &-event-title {
          grid-column: span 1;
        }
        &-description {
          grid-template-columns: 1fr;
          gap: 5px 0;
          &__intro {
            p:nth-child(n + 2), .btn{
              display: none;
            }
          }
          &__details {
            padding-left: 0;
            border: none;
            gap: 15px 0;
            .detail-container {
              p:nth-child(1) {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: $small-tablet-screen-size) {
  .projectContainer {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

@media (max-width: $mobile-screen-size) {
  .projectContainer {
    &__portfolios-wrapper {
      grid-template-columns: 1fr;
    }
    &__next-prev-container {
      grid-column: span 1;
    }
    // Events card
    &__events-wrapper {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem;
    }
    &__categories {
      &-desktop {
        display: none;
      }
      &-mobile {
        display: block;
      }
    }
    /**
     * Categories list - MOBILE
     */
    .categories-wrapper {
      .categories-container {
        // MOBILE STYLE
        &__mobile {
          display: grid;
          grid-template-columns: 1fr;
        }
        &__category {
          padding: 12px 20px;
          margin: 0;
        }
      }
    }
  }
}