/*===============================
=        PROJECT CONTAINER      =
=================================*/

.projectContainer {
  background: $vic-gray;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  display: grid;
  width: 100%;
  grid-template-columns: 25% 70%;
  gap: 5%;
  &__details-wrapper {
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr;
    align-content: flex-start;
  }
  &__portfolios-wrapper {
    display: grid;
    grid-template-columns: calc((100% / 3) - 1.5rem) calc((100% / 3) - 1.5rem) calc((100% / 3) - 1.5rem);
    gap: 2rem;
  }
  &__portfolio {
    background: #fff;
    position: relative;
    transition: all ease 0.2s;
    display: grid;
    grid-template-rows: 0fr 0.4fr;
    .image-container {
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .img-overlay {
        transition: all ease 0.2s;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        background: #33333360;
        &__textbox {
          padding: clamp(10px, 1vw, 15px) clamp(20px, 2vw, 30px);
          width: fit-content;
          border: 2px solid $vic-offwhite;
          color: $vic-offwhite;
        }
      }
    }
    .details-container {
      padding: 20px;
      background: #fff;
      display: grid;
      grid-template-rows: auto auto;
      gap: 30px;
      align-content: space-between;
      &__title-name {
        * {margin: 0;}
        h6 {
          margin-bottom: 15px;
        }
        p {
          margin-top: 10px;
        }
      }
      &__categories {
        display: grid;
        align-items: center;
        gap: 10px;
        grid-template-rows: auto auto;
      }
      &__multiple {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 5px 15px;
      }
    }
    &:hover {
      color: initial;
      box-shadow: 0 0.5rem 1rem rgb(3 3 3 / 15%) !important;
      .img-overlay {
        opacity: 1;
      }
    }
  }

  /**
   * Categories list
   */
  .categories-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    * {
      margin: 0;
    }
    .categories-container {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      &__category {
        transition: all ease 0.1s;
        padding: 5px 15px;
        background: #fff;
        &.disable {
          opacity: 0.5;
          pointer-events: none;
        }
      }
    }
  }
}

@media (max-width: $tablet-screen-size) {
  .projectContainer {
    &__portfolios-wrapper {
      grid-template-columns: calc((100% / 2) - 1rem) calc((100% / 2) - 1rem);
      gap: 2rem;
    }
  }
}

@media (max-width: $small-tablet-screen-size) {
  .projectContainer {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

@media (max-width: $mobile-screen-size) {
  .projectContainer {
    &__portfolios-wrapper {
      grid-template-columns: 1fr;
    }
  }
}