/*===============================
=        PROJECT INNER      =
=================================*/

.iframe-container {
  display: block;
  position: relative;
  width: 100%;
  height: 32vw;
  min-height: max(260px, min(48vw, 480px));
  background: url("./loader.gif");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  iframe {
    width: 100%;
    height: 100%;
    &.video-iframe {
      background-color: #000;
    }
  }
}

.pdf-container {
  height: 768px;
}

.rpv-core {
  &__modal-body {
    width: 100%;
  }
}

.rpv-properties {
  &__item-label {
    font-size: smaller;
  }
  &__item-value {
    font-size: smaller;
  }
}